// important sobrescribimos el estilo del botón de login utilizanod bostrap en el html 
.btn-login-custom:hover,
.btn-login-custom:focus {
  background-color: #0d6efd !important; /* azul Bootstrap primary */
  color: #fff !important;
  border-color: #0d6efd !important;
}